@model IEnumerable<qingjia_MVC.Models.vw_LeaveList>
@{
    Layout = null;
    List<string> LeaveTypeList = new List<string>();
    List<int> LeaveTypeNumList = new List<int>();
    int index = 0;
    var classname = "";
    foreach (var LeaveList in Model)
    {
        if (classname == LeaveList.LeaveType.ToString().Substring(0,4))
        {
            continue;
        }
        else
        {
            classname = LeaveList.LeaveType.ToString().Substring(0,4);
            if (classname == "短期请假")
            {
                LeaveTypeList.Add("短期请假");
            }
            if (classname == "长期请假")
            {
                LeaveTypeList.Add("长期请假");
            }
            if (classname == "晚点名请")
            {
                LeaveTypeList.Add("晚点名请假");
            }
            if (classname == "节假日请")
            {
                LeaveTypeList.Add("节假日请假");
            }
            if (classname == "上课请假")
            {
                LeaveTypeList.Add("上课请假备案");
            }
            if (classname == "早晚自习")
            {
                LeaveTypeList.Add("早晚自习请假");
            }
        }
    }
    foreach (string name in LeaveTypeList)
    {
        int num = 0;
        foreach (var ll in Model)
        {
            if (ll.LeaveType.Substring(0,4) == name.Substring(0,4))
            {
                num++;
            }
        }
        LeaveTypeNumList.Add(num);
    }
}
@foreach (string name in LeaveTypeList)
{
    <div class="content-block">
        <div class="content-title">
            <img src="~/Content/image/nightnamelist-title.png">
            <span class="class-name">@name</span>
            <span class="class-num">@LeaveTypeNumList[index++]</span>
        </div>
        <ul class="name-list">
            <li>
                @foreach (var ll in Model)
                {
                    if (ll.LeaveType.Substring(0,4) == name.Substring(0,4))
                    {
                        <span class="left-name">@ll.ST_Name</span>
                    }
                }
            </li>
        </ul>
    </div>
}

