.table thead>tr>th:nth-child(1),
.table tbody>tr>td:nth-child(1){
    min-width: 20px;
    padding-right: 0px;
}
.table thead>tr>th:nth-child(2),
.table tbody>tr>td:nth-child(2){
    display:none;
}
.table thead>tr>th:nth-child(3),
.table tbody>tr>td:nth-child(3),
.table thead>tr>th:nth-child(4),
.table tbody>tr>td:nth-child(4){
    min-width: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
.table thead>tr>th:nth-child(5),
.table tbody>tr>td:nth-child(5){
    min-width: 65px;
}
.table thead>tr>th:nth-child(6),
.table tbody>tr>td:nth-child(6),
.table thead>tr>th:nth-child(7),
.table tbody>tr>td:nth-child(7){
    min-width: 80px;
}
.table thead>tr>th:nth-child(8),
.table tbody>tr>td:nth-child(8){
    min-width: 80px;
}
.table thead>tr>th:nth-child(9),
.table tbody>tr>td:nth-child(9){
    width: auto;
}
.table thead>tr>th:last-child,
.table tbody>tr>td:last-child{
    min-width: 140px;
}
