.ui-widget-content{
    background-color:rgb(250,250,252);
}
.main{
    width: 95%;
    min-width: 800px;
    margin: 0 auto;
    font-family:'Microsoft YaHei';
    font-size: 16px;
}
.main .main-title{
    width: 100%;
    margin-bottom: 10px;
    padding-bottom:5px;
    border-bottom:1px solid #d7d2d2;
}
.main .main-title h2{
    color: rgb(11,95,83);
    font-size: 1.8em;
    font-weight: bolder;
    margin-top:0;
    margin-bottom:0;
}
.main .main-content{
    width: 90%;
    margin: 20px auto 0;
    position: relative;
}
.main-content .content-tool{
    width: 100%;
    height: 42px;
    position: relative;
    left: 40px;
}
.content-tool ul li{
    margin-right: 40px;
    float: left;
}
.content-tool ul li input{
    width: 110px;
}
.main-content .content{
    width: 100%;
    position: relative;
    margin: 20px 0 0;
}
.content .content-nav{
    position: absolute;
    top: 40px;
    right: -25px;
}
.content .content-nav li{
    margin: 0 0 20px;
}
.content .content-nav li a img{
    width: 125px;
}
.content .content-nav li.active a img{
    width: 150px;
}
.content .tab-content{
    width: auto;
    margin: 0 125px 0 0;
}
.content .tab-content .tab-pane{
    width: 100%;
    height: 500px;
    border-radius: 20px;
}
.content .tab-content #Student{
    /*border: 20px solid rgb(0,96,85);*/
    border: 10px solid rgb(134,192,183);
}
.content .tab-content #Class{
    /*border: 20px solid rgb(48,167,106);*/
    border: 10px solid rgb(183,205,84);
}
.content .tab-content #Info{
    /*border: 20px solid rgb(219,66,78);*/
    border: 10px solid rgb(243,168,123);
}
.tab-content .tab-pane .table{
    width: 90%;
    margin: 10px auto 0;
}
.tab-content .tab-pane .table>thead>tr>th,
.tab-content .tab-pane .table>tbody>tr>td{
    text-align: center;
}

.tab-content #Student .table >thead>tr>th:last-child,
.tab-content #Student .table >tbody>tr>td:last-child,
.tab-content #Info .table >thead>tr>th:last-child,
.tab-content #Info .table >tbody>tr>td:last-child,
.tab-content #Student .table >thead>tr>th:last-child,
.tab-content #Student .table >tbody>tr>td:last-child,
.tab-content #Info .table >thead>tr>th:last-child,
.tab-content #Info .table >tbody>tr>td:last-child{
    display: none;
}
.tab-content .tab-pane .table>thead>tr>th input[type=checkbox],
.tab-content .tab-pane .table>tbody>tr>td input[type=checkbox]{
    width: 15px;
    height: 15px;
    margin: 0;
}
.tab-content .tab-pane .table >tbody>tr>td input[type=image]{
    height: 15px;
}
#Class input[name="addmore"]{
    height:35px;
    position:absolute;
    top:15px;
    left:20px;
}
#Class>div{
    margin-top:40px;
}
#Info input[name="btnUpLoad"]{
            position:absolute;
            top:10px;
            right:10px;
            height:30px;
        }
#Info .empty{
    padding:20px 30px;
}

