.ui-widget-content{
    background-color:rgb(250,250,252);
}
.main{
    width: 95%;
    min-width: 800px;
    margin: 0 auto;
    font-family:'Microsoft YaHei';
    font-size: 16px;
}
.main .main-title{
    width: 100%;
    margin-bottom: 10px;
    padding-bottom:5px;
    border-bottom:1px solid #d7d2d2;
}
.main .main-title h2{
    color: rgb(37, 143, 134);
    font-size: 1.8em;
    font-weight: bolder;
    margin-top:0;
    margin-bottom:0;
}
.main .main-content{
    width: 95%;
    height: auto;
    margin: 10px auto 0;
}
.main-content>div{
    margin-bottom: 20px;
}
.main-content .content-block{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.2);
    padding-bottom:10px;
}
.main-content .content-top{
    width: 100%;
    height: 270px;
    margin-top: 20px;
}
.main-content .psd-change{
    width: 48%;
    float: left;
}
.main-content .psd-initial{
    width: 48%;
    float: right;
}
.main-content .psd-protect{
    padding-bottom: 10px;
}
.content-block .content-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.118);
    text-indent: 1em;
}
.psd-change .content-title{
    background-color: rgb(185,69,103);
}
.psd-initial .content-title{
    background-color: rgb(0,158,163);
}
.psd-protect .content-title{
    background-color: rgb(58,137,95);
}
.content-block .content-title img{
    height: 25px;
    position: relative;
    top: -2px;
}
.psd-initial .content-title input[name="info"]{
    width:25px;
    height:25px;
    position:relative;
    top:5px;
}
.content-block .content-title span {
    font-weight: bolder;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}
.content-block .content {
    margin: 20px 0 0 10px;
    padding: 10px 0 10px 30px;
}
.psd-change .content{
    border-left: 5px solid rgb(185,69,103);
}
.psd-initial .content {
    border-left: 5px solid rgb(0, 158, 163);
    height: 155px;
    padding-top: 30px;
}
.psd-protect .content{
    border-left: 5px solid rgb(58,137,95);
}
.form-group{
    margin-bottom: 10px;
    height: 35px;
}
.psd-initial .content .form-group,
.psd-change .content .form-group{
    position:relative;
}
.psd-initial .content .form-group label,
.psd-change .content .form-group label{
    width:130px;
}
.psd-initial .content .form-group>div,
.psd-change .content .form-group >div{
    position:absolute;
    top:0;
    left:140px;
    min-width:180px;
}
.psd-initial .content .form-group {
    height: 40px;
}
.form-group label,
.form-group input{
    padding-right: 0px;
    padding-left: 0px;
    height: 35px;
}
.form-group label{
    text-align: left;
    line-height:35px;
}
.form-group input{
    border-radius: 15px;
    text-indent: 1em;
}
.form-group input.form-control:focus{
    /*border-color: #cccccc;*/
    border-width:2px;
}
.psd-change .form-group input.form-control:focus{
    border-color: rgb(185,69,103);
}
.psd-initial .form-group input.form-control:focus{
    border-color: rgb(0, 158, 163);
}
.psd-protect .form-group input.form-control:focus{
    border-color: rgb(58,137,95);
}
.psd-protect .content{
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
}
.psd-protect .content table{
    width: 100%;
}
.psd-protect .content table>tbody>tr  {
    height: 45px;
}
.psd-protect .content table>tbody>tr>td.form-group{
    position:relative;
}
.psd-protect .content table>tbody>tr>td.form-group label{
    width:70px;
}
.psd-protect .content table>tbody>tr>td.form-group>div{
    position:absolute;
    top:0;
    left:80px;
    min-width:240px;
    width:70%;
}
.content-block .content-save {
    width: 100%;
    text-align: center;
}
.content-block .content-save input{
    height: 30px;
}
