.ui-widget-content{
    background-color:rgb(250,250,252);
}
.main{
    width: 95%;
    min-width: 900px;
    margin: 0px auto;
    font-family:'Microsoft YaHei';
    font-size: 16px;
}
.main .main-title{
    width: 100%;
    margin-bottom: 10px;
    padding-bottom:5px;
    border-bottom:1px solid #d7d2d2;
}
.main .main-title h2{
    font-size: 1.8em;
    font-weight: bolder;
    color: rgb(0, 158, 163);
    margin-top:0;
    margin-bottom:0;
}
.main .main-content{
    width: 70%;
    margin:20px auto;
    min-width: 650px;
}

.main .main-content .table {
    width: 100%;
}
.table > tbody > tr >td,
.table > tbody > tr >th {
    border: 0px;
    line-height: 30px;
    padding: 5px 0;
}
.table  label{
    padding-right: 0px;
    width: 100px;
    text-align: right;
    vertical-align: middle;

}
.table .basic span{
    display: inline-block;
    width: auto;
    text-indent: 1em;
    color: #999999;
}
.table >tbody> .contact>td{
    padding-bottom: 10px;
}
.table >tbody> .contact>td label.control-label{
    height: 34px;
    padding-top: 0px;
}
.table .contact input.form-control{
    width: 250px;
    border-radius: 15px;
}
.table .contact input.form-control:focus{
    border: 2px solid rgb(0, 158, 163);
}
.table .spilt img{
    width: 200px;
    display: block;
    margin: 0px auto 5px;
}
.table >tbody>tr>td>h4{
    width: 100px;
    text-align: right;
    font-weight: bolder;
}
.table>tbody .classlist>td{
    text-align: center;
}
.main .main-content .save{
    width: 100%;
    text-align: right;
    margin-top: 10px;
    padding-right: 50px;
}
.save input{
    width: 70px;
}
