@{
    ViewBag.Title = "智能支持服务";
}

@section head{
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/statistics.css" rel="stylesheet" type="text/css">
}

@section script{
    <script type="text/javascript" src="~/Areas/Statistics/JS/echarts.min.js"></script>
    <script type="text/javascript" src="~/Areas/Statistics/JS/china.js"></script>
<script>
    $(document).ready(function () {
            //每天请假类型统计
        $.ajax({
            //注意URL的格式
            url: '/Statistics/LeaveList/Analysis',
            dataType: 'json',
            type: 'post',
            success: function (response) {
                //console.log(response);
                $('#ErrorMessage').html(DisplayError(response));
                //setHeight();
            },
            error: function () {
                //alert('发生错误！');
            }
        });

        function DisplayError(data) {
            var returnHtml = '';

            //returnHtml += data.length + "条异常： ";
            //returnHtml += "</br>";
            //returnHtml += "</br>";
            for (var k in data) {
                returnHtml += "<ul>";
                //标题
                returnHtml += "<li>";
                returnHtml += '<span><img src="/Content/image/statistics-message-content-title.png" /></span>';
                returnHtml += "<span>" + data[k]["title"] + "</span>";
                returnHtml += "</li>";
                //内容
                returnHtml += "<li>";
                returnHtml += '<span><img src="/Content/image/statistics-message-content-detail.png" /></span>';
                returnHtml += "<span>内容：</span>";
                returnHtml += '<span>' + data[k]["content"] + '</span>';
                returnHtml += "</li>";
                //目标群体
                returnHtml += '<li>';
                returnHtml += '<span><img src="/Content/image/statistics-message-content-people.png" /></span>';
                returnHtml += '<span>目标群体：</span>';
                returnHtml += '<span>' + data[k]["population"] + '</span>';
                returnHtml += '</li>';
                //分析原因
                returnHtml += '<li>';
                returnHtml += '<span><img src="/Content/image/statistics-message-content-reason.png" /></span>';
                returnHtml += '<span>分析原因：</span>';
                returnHtml += '<span>' + data[k]["reason"] + '</span>';
                returnHtml += '</li>';

                returnHtml += '</ul>';
            }

            return returnHtml;
        }

        //每天请假类型统计
        $.ajax({
            //注意URL的格式
            url: '/Statistics/LeaveList/GetData?type=leavelist',
            dataType: 'json',
            type: 'post',
            success: function (response) {
                //alert('加载成功！');
                //console.log(response);
                $('.echart-01').show();
                LeaveListStatistic(response);
            },
            error: function () {
                //alert('发生错误！');
            }
        });

        function LeaveListStatistic(jsonData) {
            //$(".echart-01").hide();
            var jsonObj = jsonData[0];
            var data, indexNameArr, timeArr;

            data = jsonObj["data"];
            indexNameArr = jsonObj["indexNameArr"];
            timeArr = new Array();
            for (var k in data) {
                timeArr.push(k);
                ////console.log(k);
            }

            var totalArr = new Array();
            for (var i in data) {
                totalArr.push(data[i][0]);
            }

            var series = new Array();
            for (var i = 0 ; i < indexNameArr.length; i++) {
                var obj = new Object();
                obj.name = indexNameArr[i];
                obj.type = 'bar';
                var objData = new Array();
                for (var k in data) {
                    objData.push(data[k][i]);
                }
                obj.data = objData;
                if (indexNameArr[i] != '全部请假') {
                    obj.stack = '请假类型';
                }
                series.push(obj);
            }

            var option = {
                title: {
                    show: false,
                    text: '每日数据统计'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow',
                        label: {
                            show: true
                        }
                    }
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                calculable: true,
                legend: {
                    data: indexNameArr,
                    //itemGap: 5
                },
                grid: {
                    top: '12%',
                    left: '1%',
                    right: '10%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: timeArr
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '请假次数',
                        //axisLabel: {
                        //    formatter: function (a) {
                        //        a = +a;
                        //        return isFinite(a)
                        //            ? echarts.format.addCommas(+a / 1000)
                        //            : '';
                        //    }
                        //}
                    }
                ],
                dataZoom: [
                    {
                        show: true,
                        start: 94,
                        end: 100
                    },
                    {
                        type: 'inside',
                        start: 94,
                        end: 100
                    },
                    {
                        show: true,
                        yAxisIndex: 0,
                        filterMode: 'empty',
                        width: 30,
                        height: '80%',
                        showDataShadow: false,
                        left: '93%'
                    }
                ],
                series: series
            };

            var mychart = echarts.init(document.getElementById('EchartDiv_01'));
            mychart.setOption(option);
            //alert('绘制完成');
            //$(".echart-01").show();
        }

        //学生人数统计
        //alert('开始请求数据');
        $.ajax({
            //注意URL的格式
            url: '/Statistics/LeaveList/GetData?type=student',
            dataType: 'json',
            type: 'post',
            success: function (response) {
                //alert('加载成功！');
                //console.log(response);
                $('.echart-02').show();
                StudentStatistic(response);
            },
            error: function () {
                //alert('发生错误！');
            }
        });

        function StudentStatistic(jsonData) {
            var jsonObjClass = jsonData[0];
            var option, data, indexNameArr;

            data = jsonObjClass["data"];
            indexNameArr = jsonObjClass["indexNameArr"];

            timeArr = new Array();
            for (var k in data) {
                timeArr.push(k);
            }

            var series = new Array();
            for (var i = 0 ; i < indexNameArr.length; i++) {
                var obj = new Object();
                obj.name = indexNameArr[i];
                obj.type = 'bar';
                var objData = new Array();
                for (var k in data) {
                    objData.push(data[k][i]);
                }
                obj.barWidth = 15,
                obj.data = objData;
                if (indexNameArr[i] != '班级人数') {
                    obj.stack = 'a';
                }
                series.push(obj);
            }

            option = {
                title: {
                    show: false,
                    text: '学生人数统计'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                legend: {
                    data: indexNameArr
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '8%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: timeArr,
                        axisTick: {
                            alignWithLabel: true
                        },
                        axisLabel: {
                            interval: 0,
                            rotate: 30
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '人数',
                    }
                ],
                series: series
            };

            var mychart = echarts.init(document.getElementById('EchartDiv_02'));
            mychart.setOption(option);
            //alert('绘制完成');
        }

        //当前在校情况统计
        //alert('开始请求数据');
        $.ajax({
            //注意URL的格式
            url: '/Statistics/LeaveList/GetData?type=atSchool',
            dataType: 'json',
            type: 'post',
            success: function (response) {
                //alert('加载成功！');
                //console.log(response);
                $('.echart-03').show();
                AtSchoolStatistic(response);
            },
            error: function () {
                //alert('发生错误！');
            }
        });

        function AtSchoolStatistic(jsonData) {
            var jsonObj = jsonData[0];
            var data, indexNameArr, yArr;

            data = jsonObj["data"];
            indexNameArr = jsonObj["indexNameArr"];

            yArr = new Array();
            for (var k in data) {
                yArr.push(k);
                //console.log(k);
            }

            var series = new Array();
            for (var i = 0 ; i < indexNameArr.length; i++) {
                var obj = new Object();
                obj.name = indexNameArr[i];
                obj.type = 'bar';
                var objData = new Array();
                for (var k in data) {
                    objData.push(data[k][i]);
                }
                obj.data = objData;
                obj.stack = 'atSchool';
                obj.label = {
                    normal: {
                        show: true,
                        position: 'insideLeft'
                    }
                };
                series.push(obj);
            }

            var option = {
                title: {
                    show: false,
                    text: '在校情况统计'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                legend: {
                    data: indexNameArr
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'value'
                },
                yAxis: {
                    type: 'category',
                    data: yArr
                },
                series: series,
                color: ['#2F4554', '#c23531', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3']
            };


            var mychart = echarts.init(document.getElementById('EchartDiv_03'));
            mychart.setOption(option);
            //alert('绘制完成');
        }

        //节假日离校情况
        //alert('开始请求数据');
        $.ajax({
            //注意URL的格式
            url: '/Statistics/LeaveList/GetData?type=vacation',
            dataType: 'json',
            type: 'post',
            contentType: "application/json",
            //data: JSON.stringify(GeoData()),
            success: function (response) {
                //console.log(response);
                $('.echart-04').show();
                VacationStatistic(response);
            },
            error: function () {

            }
        });

        function VacationStatistic(jsondata) {
            var data = [];
            var className = [];
            for (var k in jsondata) {
                var dataList = [];
                for (var j in jsondata[k]['data']) {
                    var name = j;
                    var value = jsondata[k]['data'][j];
                    var dataitem = [{ name: '武汉' }, { name: name, value: value }];
                    dataList.push(dataitem);
                }
                data.push([jsondata[k]['className'], dataList]);
                className.push(jsondata[k]['className']);
            }

            //console.log(data);
            //console.log(className);

            var geoCoordMap = {
                '上海': [121.4648, 31.2891],
                '东莞': [113.8953, 22.901],
                '东营': [118.7073, 37.5513],
                '中山': [113.4229, 22.478],
                '临汾': [111.4783, 36.1615],
                '临沂': [118.3118, 35.2936],
                '丹东': [124.541, 40.4242],
                '丽水': [119.5642, 28.1854],
                '乌鲁木齐': [87.9236, 43.5883],
                '佛山': [112.8955, 23.1097],
                '保定': [115.0488, 39.0948],
                '兰州': [103.5901, 36.3043],
                '包头': [110.3467, 41.4899],
                '北京': [116.4551, 40.2539],
                '北海': [109.314, 21.6211],
                '南京': [118.8062, 31.9208],
                '南宁': [108.479, 23.1152],
                '南昌': [116.0046, 28.6633],
                '南通': [121.1023, 32.1625],
                '厦门': [118.1689, 24.6478],
                '台州': [121.1353, 28.6688],
                '合肥': [117.29, 32.0581],
                '呼和浩特': [111.4124, 40.4901],
                '咸阳': [108.4131, 34.8706],
                '哈尔滨': [127.9688, 45.368],
                '唐山': [118.4766, 39.6826],
                '嘉兴': [120.9155, 30.6354],
                '大同': [113.7854, 39.8035],
                '大连': [122.2229, 39.4409],
                '天津': [117.4219, 39.4189],
                '太原': [112.3352, 37.9413],
                '威海': [121.9482, 37.1393],
                '宁波': [121.5967, 29.6466],
                '宝鸡': [107.1826, 34.3433],
                '宿迁': [118.5535, 33.7775],
                '常州': [119.4543, 31.5582],
                '广州': [113.5107, 23.2196],
                '廊坊': [116.521, 39.0509],
                '延安': [109.1052, 36.4252],
                '张家口': [115.1477, 40.8527],
                '徐州': [117.5208, 34.3268],
                '德州': [116.6858, 37.2107],
                '惠州': [114.6204, 23.1647],
                '成都': [103.9526, 30.7617],
                '扬州': [119.4653, 32.8162],
                '承德': [117.5757, 41.4075],
                '拉萨': [91.1865, 30.1465],
                '无锡': [120.3442, 31.5527],
                '日照': [119.2786, 35.5023],
                '昆明': [102.9199, 25.4663],
                '杭州': [119.5313, 29.8773],
                '枣庄': [117.323, 34.8926],
                '柳州': [109.3799, 24.9774],
                '株洲': [113.5327, 27.0319],
                '武汉': [114.3896, 30.6628],
                '汕头': [117.1692, 23.3405],
                '江门': [112.6318, 22.1484],
                '沈阳': [123.1238, 42.1216],
                '沧州': [116.8286, 38.2104],
                '河源': [114.917, 23.9722],
                '泉州': [118.3228, 25.1147],
                '泰安': [117.0264, 36.0516],
                '泰州': [120.0586, 32.5525],
                '济南': [117.1582, 36.8701],
                '济宁': [116.8286, 35.3375],
                '海口': [110.3893, 19.8516],
                '淄博': [118.0371, 36.6064],
                '淮安': [118.927, 33.4039],
                '深圳': [114.5435, 22.5439],
                '清远': [112.9175, 24.3292],
                '温州': [120.498, 27.8119],
                '渭南': [109.7864, 35.0299],
                '湖州': [119.8608, 30.7782],
                '湘潭': [112.5439, 27.7075],
                '滨州': [117.8174, 37.4963],
                '潍坊': [119.0918, 36.524],
                '烟台': [120.7397, 37.5128],
                '玉溪': [101.9312, 23.8898],
                '珠海': [113.7305, 22.1155],
                '盐城': [120.2234, 33.5577],
                '盘锦': [121.9482, 41.0449],
                '石家庄': [114.4995, 38.1006],
                '福州': [119.4543, 25.9222],
                '秦皇岛': [119.2126, 40.0232],
                '绍兴': [120.564, 29.7565],
                '聊城': [115.9167, 36.4032],
                '肇庆': [112.1265, 23.5822],
                '舟山': [122.2559, 30.2234],
                '苏州': [120.6519, 31.3989],
                '莱芜': [117.6526, 36.2714],
                '菏泽': [115.6201, 35.2057],
                '营口': [122.4316, 40.4297],
                '葫芦岛': [120.1575, 40.578],
                '衡水': [115.8838, 37.7161],
                '衢州': [118.6853, 28.8666],
                '西宁': [101.4038, 36.8207],
                '西安': [109.1162, 34.2004],
                '贵阳': [106.6992, 26.7682],
                '连云港': [119.1248, 34.552],
                '邢台': [114.8071, 37.2821],
                '邯郸': [114.4775, 36.535],
                '郑州': [113.4668, 34.6234],
                '鄂尔多斯': [108.9734, 39.2487],
                '重庆': [107.7539, 30.1904],
                '金华': [120.0037, 29.1028],
                '铜川': [109.0393, 35.1947],
                '银川': [106.3586, 38.1775],
                '镇江': [119.4763, 31.9702],
                '长春': [125.8154, 44.2584],
                '长沙': [113.0823, 28.2568],
                '长治': [112.8625, 36.4746],
                '阳泉': [113.4778, 38.0951],
                '青岛': [120.4651, 36.3373],
                '韶关': [113.7964, 24.7028]
            };

            var convertData = function (data) {
                var res = [];
                for (var i = 0; i < data.length; i++) {
                    var dataItem = data[i];
                    var fromCoord = geoCoordMap[dataItem[0].name];
                    var toCoord = geoCoordMap[dataItem[1].name];
                    if (fromCoord && toCoord) {
                        res.push({
                            fromName: dataItem[0].name,
                            toName: dataItem[1].name,
                            coords: [fromCoord, toCoord]
                        });
                    }
                }
                return res;
            };

            var planePath = 'path://M1705.06,1318.313v-89.254l-319.9-221.799l0.073-208.063c0.521-84.662-26.629-121.796-63.961-121.491c-37.332-0.305-64.482,36.829-63.961,121.491l0.073,208.063l-319.9,221.799v89.254l330.343-157.288l12.238,241.308l-134.449,92.931l0.531,42.034l175.125-42.917l175.125,42.917l0.531-42.034l-134.449-92.931l12.238-241.308L1705.06,1318.313z';

            var color = ['#a6c84c', '#ffa022', '#46bee9'];

            var series = [];

            data.forEach(function (item, i) {
                series.push({
                    name: item[0],
                    type: 'lines',
                    zlevel: 1,
                    effect: {
                        show: true,
                        period: 6,
                        trailLength: 0.7,
                        color: '#fff',
                        symbolSize: 3
                    },
                    lineStyle: {
                        normal: {
                            color: color[i],
                            width: 0,
                            curveness: 0.2
                        }
                    },
                    data: convertData(item[1])
                },
                {
                    name: item[0],
                    type: 'lines',
                    zlevel: 2,
                    symbol: ['none', 'arrow'],
                    symbolSize: 10,
                    effect: {
                        show: true,
                        period: 6,
                        trailLength: 0,
                        symbol: planePath,
                        symbolSize: 15
                    },
                    lineStyle: {
                        normal: {
                            color: color[i],
                            width: 1,
                            opacity: 0.6,
                            curveness: 0.2
                        }
                    },
                    data: convertData(item[1])
                },
                {
                    name: item[0],
                    type: 'effectScatter',
                    coordinateSystem: 'geo',
                    zlevel: 2,
                    rippleEffect: {
                        brushType: 'stroke'
                    },
                    label: {
                        normal: {
                            show: true,
                            position: 'right',
                            formatter: '{b}'
                        }
                    },
                    symbolSize: function (val) {
                        return val[2] / 8;
                    },
                    itemStyle: {
                        normal: {
                            color: color[i]
                        }
                    },
                    data: item[1].map(function (dataItem) {
                        return {
                            name: dataItem[1].name,
                            value: geoCoordMap[dataItem[1].name].concat([dataItem[1].value])
                        };
                    })
                });
            });

            var option = {
                backgroundColor: '#404a59',
                title: {
                    text: '学生假期回家去向',
                    subtext: '因数据问题，本功能数据为虚构数据，使用时导入正常数据即可',
                    left: 'center',
                    textStyle: {
                        color: '#fff'
                    }
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    top: 'bottom',
                    left: 'right',
                    data: className,
                    textStyle: {
                        color: '#fff'
                    },
                    selectedMode: 'single'
                },
                geo: {
                    map: 'china',
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    roam: true,
                    itemStyle: {
                        normal: {
                            areaColor: '#323c48',
                            borderColor: '#404a59'
                        },
                        emphasis: {
                            areaColor: '#2a333d'
                        }
                    }
                },
                series: series
            };

            var mychart = echarts.init(document.getElementById('EchartDiv_04'));
            mychart.setOption(option);
        }

    });
</script>
}

@section body{
    <div class="main">
        <div class="main-title">
            <h2>智能支持服务</h2>
        </div>
        <div class="main-content">
            <div class="content-block message">
                <div class="content-title">
                    <img src="~/Content/image/statistics-message-title.png">
                    <span>异常信息</span>
                </div>
                <div class="content">
                    <div id="ErrorMessage"></div>
                </div>
            </div>
            <div class="content-block echart-01" style="display:none;">
                <div class="content-title">
                    <img src="~/Content/image/password-change-title.png">
                    <span>每日请假数据统计</span>
                </div>
                <div class="content">
                    <div id="EchartDiv_01" style="width:100%; height:450px;"></div>
                </div>
            </div>
            <div class="content-block echart-02" style="display:none;">
                <div class="content-title">
                    <img src="~/Content/image/password-change-title.png">
                    <span>学生人数统计</span>
                </div>
                <div class="content">
                    <div id="EchartDiv_02" style="width:100%; height:450px;"></div>
                </div>
            </div>
            <div class="content-block echart-03" style="display:none;">
                <div class="content-title">
                    <img src="~/Content/image/password-change-title.png">
                    <span>当前在校情况统计</span>
                </div>
                <div class="content">
                    <div id="EchartDiv_03" style="width:100%; height:500px;"></div>
                </div>
            </div>
            <div class="content-block echart-04" style="display:none;">
                <div class="content-title">
                    <img src="~/Content/image/password-change-title.png">
                    <span>节假日离校去向情况</span>
                </div>
                <div class="content">
                    <div id="EchartDiv_04" style="width:100%; height:600px;"></div>
                </div>
            </div>
        </div>
    </div>

}

